<app-header></app-header>
<div class="container">
  <form class="register-form" action="" #registerForm="ngForm">
    <div class="register-form-content">
      <h2 class="register-header">Register an account</h2>

      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input type="text" class="form-control"
               [(ngModel)]="phoneNumber"
               (input)="onPhoneNumberChange()"
               required
               name="phoneNumber"
               (focus)="registerForm.form.markAsTouched()"
               id="phoneNumber">
        <p class="text-danger" *ngIf="phoneNumber.length < 8 && registerForm.form.touched">Phone number must be at least
          8 characters long</p>
      </div>

      <div class="form-group password-field">
        <label for="password">Password</label>
        <input type="password" class="form-control"
               [(ngModel)]="password"
               id="password"
               required
               name="password"
               placeholder="enter password">
        <i class="password-toggle fas fa-eye-slash"></i>
        <p class="text-danger" *ngIf="password.length < 5 && registerForm.form.touched">Phone password must be at least
          5 characters long</p>
      </div>
      <div class="form-group password-field">
        <label for="retypePassword">Confirm Password</label>
        <input type="password" class="form-control"
               [(ngModel)]="retypePassword"
               id="retypePassword"
               required
               name="retypePassword"
               (input)="registerForm.form.markAsTouched(); checkPasswordMatch()"
               placeholder="confirm password">
        <i class="password-toggle fas fa-eye-slash"></i>
        <p class="text-danger" *ngIf="retypePassword.length < 5 && registerForm.form.touched">
          Phone password must be at least 5 characters long
        </p>
        <p class="text-danger"
           *ngIf="registerForm.controls['retypePassword'].hasError('passwordMisMatch') && registerForm.form.touched">
          Passwords do not match
        </p>
      </div>
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="fullName"
               required
               name="fullName"
               id="fullName">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control"
               [(ngModel)]="address"
               name="address"
               id="address">
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" class="form-control"
               [(ngModel)]="dateOfBirth"
               required
               name="dateOfBirth"
               (input)="registerForm.form.markAsTouched(); checkAge()"
               id="dateOfBirth">
        <p class="text-danger"
           *ngIf="registerForm.controls['dateOfBirth'].hasError('invalidAge') && registerForm.form.touched">
          Age must be at least 18
        </p>
        <p class="text-danger"
           *ngIf="registerForm.controls['dateOfBirth'].hasError('futureDate') && registerForm.controls['dateOfBirth'].touched">
          Date of birth cannot be in the future
        </p>
      </div>
      <div class="form-group">
        <div class="checkbox-text">
          <label class="form-check-label" for="terms">
            <input type="checkbox" class="form-check-input"
                   [(ngModel)]="isAccepted"
                   id="terms"> I agree to the Terms and Conditions
          </label>
        </div>
      </div>
      <button type="submit" class="register-button"
              (click)="onRegister()"
      >Register
      </button>
      <p class="text-center">Already have an account?</p>
      <a href="#" class="login-link">Login here</a>
    </div>
  </form>
</div>
<app-footer></app-footer>
