<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-toggle" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand nav-link" href="#">
            <svg height="44" width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 48">
              <path d="M14.5 27.1c0-2.3 1.9-3.4 2-3.4-1.1-1.6-2.8-1.8-3.4-1.8-1.4-.2-2.8.8-3.5.8-.7 0-1.8-.8-3-.8-1.5 0-2.9.9-3.7 2.3-1.6 2.8-.4 6.9 1.1 9.1.8 1.1 1.7 2.3 2.9 2.3 1.2-.1 1.6-.8 3-.8 1.4 0 1.8.8 3 .7 1.2 0 2-1.1 2.8-2.2.9-1.3 1.2-2.5 1.2-2.6-.1-.1-2.4-.9-2.4-3.6z" fill="#000"></path>
              <path d="M12.5 23.1c.6-.8 1.1-1.9 1-3-.9.1-2.1.6-2.8 1.4-.6.7-1.1 1.8-1 2.9 1 .1 2.1-.4 2.8-1.3z" fill="#000"></path>
            </svg>
          </a>
        </li>
        <li class="nav-item mega-dropdown">
          <a class="nav-link" href="#">Cửa Hàng</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Mua Sắm</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua Sản Phẩm Mới Nhất</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">iPad</a></li>
                  <li><a href="#">iPhone</a></li>
                  <li><a href="#">Apple Watch</a></li>
                  <li><a href="#">Phụ Kiện</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Liên Kết Nhanh</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Tình Trạng Đơn Hàng</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài Chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua Tại Cửa Hàng Đặc Biệt</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Giáo Dục</a></li>
                  <li><a href="#">Doanh Nghiệp</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item mega-dropdown">
          <a class="nav-link" href="#">Mac</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Khám phá Mac</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Khám phá tất cả Mac</a></li>
                  <li><a href="#">MacBook Air</a></li>
                  <li><a href="#">MacBook Pro</a></li>
                  <li><a href="#">iMac</a></li>
                  <li><a href="#">Mac mini</a></li>
                  <li><a href="#">Mac Studio</a></li>
                  <li><a href="#">Mac Pro</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua Mac</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua Mac</a></li>
                  <li><a href="#">Phụ kiện Mac</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Thêm cho Mac</h3>
                <ul class="dropdown-links">
                  <li><a href="#">macOS</a></li>
                  <li><a href="#">Apps cho Mac</a></li>
                  <li><a href="#">Hỗ trợ Mac</a></li>
                </ul>
              </div>
            </div>
            <div class="product-showcase">
              <div class="product-item">
                <img width="80" height="54" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA1NCI+PHBhdGggZD0iTTcwIDU0SDEwQzQuNSA1NCAwIDQ5LjUgMCA0NFYxMEMwIDQuNSA0LjUgMCAxMCAwaDYwYzUuNSAwIDEwIDQuNSAxMCAxMHYzNGMwIDUuNS00LjUgMTAtMTAgMTB6IiBmaWxsPSIjMzMzIi8+PC9zdmc+" alt="MacBook Air">
                <h4>MacBook Air</h4>
                <p>Nhẹ mê. Nhanh đê nê.</p>
              </div>
              <div class="product-item">
                <img width="80" height="54" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA1NCI+PHBhdGggZD0iTTcwIDU0SDEwQzQuNSA1NCAwIDQ5LjUgMCA0NFYxMEMwIDQuNSA0LjUgMCAxMCAwaDYwYzUuNSAwIDEwIDQuNSAxMCAxMHYzNGMwIDUuNS00LjUgMTAtMTAgMTB6IiBmaWxsPSIjMzMzIi8+PC9zdmc+" alt="MacBook Pro">
                <h4>MacBook Pro</h4>
                <p>Quyền năng không ngừng.</p>
              </div>
              <div class="product-item">
                <img width="80" height="54" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA1NCI+PHBhdGggZD0iTTcwIDU0SDEwQzQuNSA1NCAwIDQ5LjUgMCA0NFYxMEMwIDQuNSA0LjUgMCAxMCAwaDYwYzUuNSAwIDEwIDQuNSAxMCAxMHYzNGMwIDUuNS00LjUgMTAtMTAgMTB6IiBmaWxsPSIjMzMzIi8+PC9zdmc+" alt="iMac">
                <h4>iMac</h4>
                <p>Tất cả trong một.</p>
              </div>
              <div class="product-item">
                <img width="80" height="54" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA1NCI+PHBhdGggZD0iTTcwIDU0SDEwQzQuNSA1NCAwIDQ5LjUgMCA0NFYxMEMwIDQuNSA0LjUgMCAxMCAwaDYwYzUuNSAwIDEwIDQuNSAxMCAxMHYzNGMwIDUuNS00LjUgMTAtMTAgMTB6IiBmaWxsPSIjMzMzIi8+PC9zdmc+" alt="Mac mini">
                <h4>Mac mini</h4>
                <p>Nhỏ mà có võ.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item mega-dropdown">
          <a class="nav-link" href="#">iPad</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Khám phá iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Khám phá tất cả iPad</a></li>
                  <li><a href="#">iPad Pro</a></li>
                  <li><a href="#">iPad Air</a></li>
                  <li><a href="#">iPad</a></li>
                  <li><a href="#">iPad mini</a></li>
                  <li><a href="#">Apple Pencil</a></li>
                  <li><a href="#">Bàn phím</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua iPad</a></li>
                  <li><a href="#">Phụ kiện iPad</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Thêm cho iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">iPadOS</a></li>
                  <li><a href="#">Apps cho iPad</a></li>
                  <li><a href="#">Hỗ trợ iPad</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">iPhone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Watch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AirPods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TV & Nhà</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giải Trí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phụ Kiện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hỗ Trợ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-bag" viewBox="0 0 16 16">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
