<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-toggle" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand nav-link" routerLink>
            <i style="font-size: 18px;" class="fa-brands fa-apple"></i>
          </a>
        </li>
        <li class="nav-item mega-dropdown">
          <a class="nav-link" routerLink="/">Cửa Hàng</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Mua Sắm</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua Sản Phẩm Mới Nhất</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">iPad</a></li>
                  <li><a href="#">iPhone</a></li>
                  <li><a href="#">Apple Watch</a></li>
                  <li><a href="#">Phụ Kiện</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Liên Kết Nhanh</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Tình Trạng Đơn Hàng</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài Chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua Tại Cửa Hàng Đặc Biệt</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Giáo Dục</a></li>
                  <li><a href="#">Doanh Nghiệp</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item mega-dropdown">
          <a class="nav-link" routerLink="/home">Mac</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Khám phá Mac</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Khám phá tất cả Mac</a></li>
                  <li><a href="#">MacBook Air</a></li>
                  <li><a href="#">MacBook Pro</a></li>
                  <li><a href="#">iMac</a></li>
                  <li><a href="#">Mac mini</a></li>
                  <li><a href="#">Mac Studio</a></li>
                  <li><a href="#">Mac Pro</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua Mac</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua Mac</a></li>
                  <li><a href="#">Phụ kiện Mac</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Thêm cho Mac</h3>
                <ul class="dropdown-links">
                  <li><a href="#">macOS</a></li>
                  <li><a href="#">Apps cho Mac</a></li>
                  <li><a href="#">Hỗ trợ Mac</a></li>
                </ul>
              </div>
            </div>
            <div class="product-showcase">
              <div class="product-item">
                <img width="80" height="54" src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-card-40-macbook-air-202503?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=dzRRdVl2UHpmd3BrL2dpaGRDY2RKN3dnWXpNRUFSbE1veTFaYXZqWDhWZ2w2T29GWFRmcGlRaHRKa2ZZeG54SDRHeXB5TnVsU3R6Qjd0Y2JzbURyWE56dkQ1M2pkMXloY0FLTkxsc2xNQXArYWpGdS9XeFgvbS9ITnNYOEhYaG4" alt="MacBook Air">
                <h4>MacBook Air</h4>
                <p>Nhẹ mê. Nhanh đê nê.</p>
              </div>
              <div class="product-item">
                <img width="80" height="54" src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-card-40-macbookpro-14-16-202410?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=dzRRdVl2UHpmd3BrL2dpaGRDY2RKL0tDcDdIN2J5MlRJbDZwdXNUam1wUDJ0SUdrYS9VNndoSUR6SjE2NTZ4Q3dzUlMrL0tMOEdKdERZZEhaV2pBNG5MYXhobkxkNHkydGdPaXdJd0ZJRmorbGwzUVNwZEFpcE1WQU1wNTVjU1c" alt="MacBook Pro">
                <h4>MacBook Pro</h4>
                <p>Quyền năng không ngừng.</p>
              </div>
              <div class="product-item">
                <img width="80" height="54" src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-card-40-imac-202410?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=SXh2aE4zRm53L0l3NnhGK2wwZFpEeVFpZGxOY0d3emNHMmh4SnZVS1l0QTJzUm9kdjFCbFNETWhUL0NFUjdrYVJRTDhjbFg1ZXlSYWo3eW5aZUZxQjJvbklDSjVXM0pQY3RiODY0MDI2aUU" alt="iMac">
                <h4>iMac</h4>
                <p>Tất cả trong một.</p>
              </div>
              <div class="product-item">
                <img width="80" height="54" src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/mac-card-40-mac-mini-202410?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=MEl2WkNZRmkzTGhzejQ0SHE3b3FoNnQrZHdkUkkvM25CYTVJYWJQRk41QkMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTCthSGMrTVBBVlNQbW04TUlaTnlZU3c" alt="Mac mini">
                <h4>Mac mini</h4>
                <p>Nhỏ mà có võ.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item mega-dropdown">
          <a class="nav-link" href="#">iPad</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Khám phá iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Khám phá tất cả IPhone</a></li>
                  <li><a href="#">iPhone 16 Pro</a></li>
                  <li><a href="#">iPhone 16</a></li>
                  <li><a href="#">iPhone 16e</a></li>
                  <li><a href="#">iPhone 15</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua iPhone</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua iPhone</a></li>
                  <li><a href="#">Phụ kiện iPhone</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Thêm cho iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">iOS</a></li>
                  <li><a href="#">Apps cho iPhone</a></li>
                  <li><a href="#">IOS 18</a></li>
                  <li><a href="#">Apple Intelligent</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">iPhone</a>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3>Khám phá iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Khám phá tất cả iPad</a></li>
                  <li><a href="#">iPad Pro</a></li>
                  <li><a href="#">iPad Air</a></li>
                  <li><a href="#">iPad</a></li>
                  <li><a href="#">iPad mini</a></li>
                  <li><a href="#">Apple Pencil</a></li>
                  <li><a href="#">Bàn phím</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Mua iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">Mua iPad</a></li>
                  <li><a href="#">Phụ kiện iPad</a></li>
                  <li><a href="#">Apple Trade In</a></li>
                  <li><a href="#">Tài chính</a></li>
                </ul>
              </div>
              <div class="dropdown-column">
                <h3>Thêm cho iPad</h3>
                <ul class="dropdown-links">
                  <li><a href="#">iPadOS</a></li>
                  <li><a href="#">Apps cho iPad</a></li>
                  <li><a href="#">Hỗ trợ iPad</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Watch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AirPods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TV & Nhà</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giải Trí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phụ Kiện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hỗ Trợ</a>
        </li>
        <li class="nav-item">
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
            <a class="nav-link" (click)="onSearch()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders/:id">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-bag" viewBox="0 0 16 16">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg>
            <span class="cart-badge" *ngIf="cartItemCount > 0">{{cartItemCount}}</span>
          </a>
        </li>
        <li>
          <a *ngIf="!userResponse" routerLink="/login" class="nav-link">
            <i style="font-size: 18px;" class="fa-solid fa-circle-user"></i>
          </a>
          <div *ngIf="userResponse" class="user-dropdown" (click)="toggleDropdown()" [class.open]="dropdownOpen">
            <span class="nav-link user-name">{{ userResponse.fullName }}</span>
            <div class="dropdown-menu-user" *ngIf="dropdownOpen">
              <a class="dropdown-item" routerLink="/profile">Tài khoản</a>
              <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
