<app-header></app-header>
<div class="container main-container">
  <div class="row">
    <div class="slider-container">
      <div class="slider">
        <div class="slides" #slides>
          <div class="slide" *ngFor="let image of sliderImages; let i = index" [class.active]="currentSlideIndex === i">
            <img [src]="image.url" [alt]="image.alt" class="slide-image">
          </div>
        </div>
        <button class="nav-button prev-button" (click)="prevSlide()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="nav-button next-button" (click)="nextSlide()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div class="dot-nav">
          <span class="dot" *ngFor="let image of sliderImages; let i = index" 
                [class.active]="currentSlideIndex === i"
                (click)="goToSlide(i)"></span>
        </div>
      </div>
    </div>

    <div class="product-reference-title">
      <h2 class="product-reference-titleLeft">Thế hệ mới nhất. </h2>
      <h2 class="product-reference-titleRight">Xem ngay có gì mới.</h2>
    </div>

    <div *ngIf="currentCategoryId" class="category-title">
      <h2>{{ categoryNames[currentCategoryId] }}</h2>
    </div>

    <div class="row product-grid" *ngIf="products.length > 0">
      <div *ngFor="let product of products" class="card-product-container">
        <div class="card-product-inner">
          <div class="card-product-header">
            <h3 class="card-product-title">
              {{ product.name }}
            </h3>
          </div>
          <div class="card-product-image-wrap">
            <img [src]="product.url" [alt]="product.name" class="card-product-image">
          </div>
          <div class="card-product-content">
            <div class="card-product-price">
              <span class="product-price">{{ product.price.toLocaleString() }} đ</span>
            </div>
            <a [routerLink]="['/products', product.id]" class="btn card-product-view-detail">Xem Ngay</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="products.length === 0" class="empty-products">
      <h3>Không tìm thấy sản phẩm</h3>
      <p>Vui lòng thử lại với danh mục khác hoặc liên hệ với chúng tôi để được hỗ trợ.</p>
    </div>
  </div>
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="onPageChange(1)" [disabled]="currentPage === 1">First</button>
    <button (click)="prevPage()" [disabled]="currentPage === 1">&lt;</button>
    <button (click)="onPageChange(page)" *ngFor="let page of visiblePages" [disabled]="page === currentPage">
      {{ page }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">&gt;</button>
    <button (click)="onPageChange(totalPages)" [disabled]="currentPage === totalPages">Last</button>
  </div>
</div>
<app-footer></app-footer>
