<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Confirm your orders!</h1>
    <p>check your orders</p>
  </div>
  <div class="row">
    <table class="table-product-list">
      <thead>
      <tr class="table-product-content">
        <th scope="col" class="text-start">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total price</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of cartItems">
          <tr class="table-product-content">
            <td>
              <div class="product-info">
                <img
                  [src]="item.product.thumbnail"
                  alt="Product Image"
                  class="product-image">
                <span class="product-name">{{item.product.name}}</span>
              </div>
            </td>
            <td>{{ item.quantity }}</td>
            <td>{{item.product.price}}</td>
            <td>{{item.product.price * item.quantity}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center mt-3 col-md-4 col-sm-12 mx-auto">
      <button class="btn btn-order w-100" type="button">Continue shopping</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
