<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Confirm your orders!</h1>
    <p>check your orders</p>
  </div>
  <div class="row">
    <table class="table-product-list">
      <thead>
      <tr class="table-product-content">
        <th scope="col" class="text-start">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total price</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-product-content">
        <td>
          <div class="product-info">
            <img
              src="https://images.pexels.com/photos/11026293/pexels-photo-11026293.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="" class="product-image">
            <span class="product-name">Product name</span>
          </div>
        </td>
        <td>2</td>
        <td>$200000</td>
        <td>$400000</td>
      </tr>
      <tr class="table-product-content">
        <td>
          <div class="product-info">
            <img
              src="https://images.pexels.com/photos/11026293/pexels-photo-11026293.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="" class="product-image">
            <span class="product-name">Product name</span>
          </div>
        </td>
        <td>2</td>
        <td>$200000</td>
        <td>$400000</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center mt-3 col-md-4 col-sm-12 mx-auto">
      <button class="btn btn-order w-100" type="button">Continue shopping</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
